.roles-container {
    width: 25%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    padding: 16px;
    justify-content: space-between;
}

#department {
    display: flex ; 
    flex-wrap: wrap;
    gap: 20px ;
    justify-content: space-between ;
    width: 100%;
    background-color: white;
}