<section class="flex-space-between mb-20">
    <div>
        <p class = "filter-header f16 pb-8">Employees</p>
        <p class= "filter-subtitle f14">Find all of your company's employee accounts and their associated roles.</p>
    </div>
    <div class="flex-space-between">
        <button class="btn inactive-btn flex-space-between not-allowed"><img src="./assets/Interface/Export.svg" alt="" class="pr-10">Export</button>
        <button class="btn primary-btn  flex-space-between openModal"><img src="./assets/Interface/Add.svg" alt="" class="pr-10">Add Employee</button>
    </div>
</section>