<!-- 
function createEmployeesContainerSection(){
    //employees-container
    const employeesContainerSection = document.createElement('section');
    employeesContainerSection.id = 'employees-container';
    
    //add header
    const deleteEmployees = document.createElement('div');
    deleteEmployees.classList.add('flex-space-between','p-16');
    deleteEmployees.innerHTML = `
        <div class="flex-content-start">
            <img src="/images/arrow-turn left -down.png" alt="" height="24px" width="24px" class="pr-6">
            <button class="del-btn" id="delete">Delete</button>
        </div>
        <img src="/images/table-add.png" alt="" class="pr-20 not-allowed">
        `;

    employeesContainerSection.appendChild(deleteEmployees);
    const deleteButton = deleteEmployees.querySelector('#delete') as HTMLButtonElement;
    deleteButton?.addEventListener('click', deleteSelectedEmployees);

    const employeeTable = createEmployeeTable();
    employeesContainerSection.appendChild(employeeTable);
    return employeesContainerSection;
} -->


<!-- function createEmployeeTable(){
    //table
    let employeeTable : (HTMLElement | null)  = document.createElement('table');
    employeeTable.id = 'employee-table';
    (employeeTable as HTMLTableElement) .cellSpacing = '0';
    employeeTable.innerHTML = `
            <thead>
            <tr>
                <th><input type="checkbox" class = "headerCheckBox" id="select-all" name="select-all"></th>
                <th><div class="flex-align-center cursor-pointer">User<img src="/images/sort.svg" alt="" class="pl-10"></div></th>
                <th><div class="flex-align-center cursor-pointer">Location<img src="/images/sort.svg" alt="" class="pl-10"></div></th>
                <th><div class="flex-align-center cursor-pointer">Department<img src="/images/sort.svg" alt="" class="pl-10"></div></th>
                <th><div class="flex-align-center cursor-pointer">Role<img src="/images/sort.svg" alt="" class="pl-10"></div></th>
                <th><div class="flex-align-center cursor-pointer">Employee No<img src="/images/sort.svg" alt="" class="pl-10"></div></th>
                <th><div class="flex-align-center cursor-pointer">Status<img src="/images/sort.svg" alt="" class="pl-10"></div></th>
                <th><div class="flex-align-center cursor-pointer">Join Dt<img src="/images/sort.svg" alt="" class="pl-10"></div></th>
                <th><img src="/images/more-hz.svg" alt="" class = "not-allowed"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    `;
    const selectAllCheckbox = employeeTable.querySelector('#select-all') as HTMLInputElement;
    if (selectAllCheckbox) {
        selectAllCheckbox.addEventListener('click', () => toggleAllCheckboxes(selectAllCheckbox));
    }

    // Get all the sortable columns and attach click event listeners for sorting
    const sortableColumns = employeeTable.querySelectorAll('th div.cursor-pointer');
    sortableColumns.forEach((column, index) => {
        column.addEventListener('click', () => sortTable(index + 1)); 
    });
    return employeeTable;
} -->


<section id="employees-container">
    <div class="flex-space-between p-16">
        <div class="flex-content-start">
            <img src="./assets/arrow-turn left -down.png" alt="" height="24px" width="24px" class="pr-6">
            <button class="del-btn" id="delete">Delete</button>
        </div>
        <img src="./assets/table-add.png" alt="" class="pr-20 not-allowed">
    </div>
    <table class="employee-table" [cellSpacing]="0">
        <thead>
            <tr>
                <th><input type="checkbox" class = "headerCheckBox" id="select-all" name="select-all"></th>
                <th><div class="flex-align-center cursor-pointer">User<img src="./assets/sort.svg" alt="" class="pl-10"></div></th>
                <th><div class="flex-align-center cursor-pointer">Location<img src="./assets/sort.svg" alt="" class="pl-10"></div></th>
                <th><div class="flex-align-center cursor-pointer">Department<img src="./assets/sort.svg" alt="" class="pl-10"></div></th>
                <th><div class="flex-align-center cursor-pointer">Role<img src="./assets/sort.svg" alt="" class="pl-10"></div></th>
                <th><div class="flex-align-center cursor-pointer">Employee No<img src="./assets/sort.svg" alt="" class="pl-10"></div></th>
                <th><div class="flex-align-center cursor-pointer">Status<img src="./assets/sort.svg" alt="" class="pl-10"></div></th>
                <th><div class="flex-align-center cursor-pointer">Join Dt<img src="./assets/sort.svg" alt="" class="pl-10"></div></th>
                <th><img src="./assets/more-hz.svg" alt="" class = "not-allowed"></th>
            </tr>
        </thead>
        <tbody *ngFor="let emp of employees">
            <tr>
                <td><input type="checkbox" [id]="emp.id" class = "rowCheckBox" name="employee" [value]="emp.id"></td>
                <td> 
                    <div class="flex-align-center">
                        <img [src]="emp.profilePicture" alt="" height="40px" width="40px" class="rounded-img">
                        <div class="flex-column-start pr-8">
                            <p class=" color-charcol">{{emp.firstName}} {{emp.lastName}}</p>
                            <p class= "color-light-grey">{{emp.email}}</p>
                        </div>
                    </div>
                </td>
                <td>{{employeeService.getLocation(emp)}}</td>
                <td>{{employeeService.getDepartment(emp)}}</td>
                <td>{{employeeService.getRole(emp)}}</td>
                <td>{{emp.employeeNum}}</td>
                <td>
                    <p [ngClass]="
                        {'status-active-btn' : emp.statusId === 1,
                         'status-inactive-btn' : emp.statusId != 1}
                    ">
                    {{employeeService.getStatus(emp)}}
                    </p>
                </td>
                <td>{{emp.jointDt}}</td>
                <td><img src="./assets/more-hz.svg" alt="" class = "not-allowed"></td>
            </tr>
        </tbody>
    </table>
</section>