<section class="flex-space-between mb-20">
    <div>
        <p class = "filter-header f16">Roles</p>
        <p class= "filter-subtitle f14">All the roles are configured here</p>
    </div>
    <div class="flex-space-between">
        <button class="btn primary-btn flex-space-between not-allowed"><img src="./assets/Interface/Add.svg" alt="" class="pr-10">Add Role</button>
    </div>
</section>
<!--Filter-->
<section id = "filter-category-container" class="flex-space-between mb-20">
    <div class="flex-space-between">
        <p class = "color-red">Filter</p>
        <img src="./assets/filter-funnel.svg" alt="">
        <form action="">
            <div id = "filter-categories" class="flex-space-between">
  

                <app-drop-down [className]="className" [id]="deptId" [options]="depatments" [name]="dept"></app-drop-down>
                <app-drop-down [className]="className" [id]="locationId" [options]="locations" [name]="location"></app-drop-down>            
           </div>
        </form>
    </div>
     <div>
        <button class="reset-btn bordered f12" id="role-dismiss-filter">Reset</button>
        <button class="apply-btn f12" id="role-apply-dropdown">Apply</button>
    </div>
</section>