<div id="search-container" class="flex-space-between mb-20">
    <span>
        <div class="flex-content-start">
            <img src="/assets/bx-search.png" alt="" class="pl-10">
            <input type="search" name="searchword" id="search" placeholder="Search">
        </div>
    </span>
    <div id="trailing">
        <div class="pr-20">
            <img src="/assets/Vertical Navbar/Language.svg" alt="" class="not-allowed">
            <img src="/assets/Vertical Navbar/Categories.svg" alt="" class="not-allowed">
            <img src="/assets/Vertical Navbar/Mode.svg" alt="" class="not-allowed">
            <img src="/assets/Vertical Navbar/Notifications.svg" alt="" class="not-allowed">
        </div>
        <div class="flex-space-between not-allowed" id = "profile">
            <img src="/assets/profile.png" alt="" height="40px" class="rounded-img">
            <div class="flex-column-start pr-8">
                <p class="f12 m-0 mb-2">John Abraham</p>
                <p class="f12 bold m-0">Admin</p>
            </div>
            <div class = "circle"></div>
            <img src="/assets/arrow_down.svg" alt="" height="18px" class="pr-8">
        </div>
    </div>
</div>